@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("./display.css");
@import url('./margin-padding.css');
@import url('./theme.css');
@import url("./main.css");
@import url("./theme-clock.css");
@import url("./taskbar.css");


body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

* {
    -webkit-user-select: none;
    user-select: none;
}


::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /* background-color: ; */
    border: 1px solid #888;
}